body {
  display: flex;
  flex-direction:column;
  position:absolute;
  width:100%;
  height:100%;
  
  background: rgb(225,225,225)no-repeat fixed center;
  background: radial-gradient(circle, rgba(225,225,225,1) 0%);
}


/*-------------------------------------------------------*/

header {
	/* border: 1px solid black; */
	/* background-color: lightcoral; */
	
	flex: 1;
	
}

.b2 {
	font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
}

mainb {display: flex; text-align: center; margin: 50px 50px 0px 50px;}
/*.b1 {flex: 1; background-color: red;}*/
.b2 {flex: 1; font-size: 25px;}
/*.b3 {flex: 1; background-color: red;}*/

/*-------------------------------------------------------*/

flex-middle {display: flex;}

vector-left {flex: 1; min-width: 24px; color: #AD3337; cursor: pointer; }
div-main-middle {display: flex; margin: 30px;}
vector-right {flex: 1; min-width: 24px; color: #AD3337; cursor: pointer;}


middle {
	/* border: 1px solid black; */
	width: 100%;
	/* background-color: yellow; */
	
	flex: 3;
}

border-box {
	display: flex;
	height: 100%;
	
}

left-img-box {
	background-color: rgb(245, 244, 244);
	flex: 5;

}



right-side-box {
	/* border: 1px solid black; */
	background-color: rgb(245, 244, 244);
	flex: 5;
	
}

right-side-box h1 {
	font-size: 23px;
    text-align: left;
		margin: 22px;
		color: #AD3337;
		font-family: 'Roboto', sans-serif;
}

right-side-box p {
	font-size: 11px;
    margin: 20px;
		text-align: left;
		font-family: 'Roboto', sans-serif;
}

right-side-box button {
	font-size: 9px;
	margin: 21px 21px 21px 21px;
	padding: 8px;
	color: #fff;
	background-color: #AD3337;
	border: 1px solid #AD3337;
box-sizing: border-box;
}



/*-------------------------------------------------------*/

footer {
	/* border: 1px solid black; */
	 /* background-color: green; */
	
	flex: 1;
}

adjust-footer {
	display: flex;
}

footer-left {flex: 1;}
footer-right {flex: 1;}

.footers {
	display: inline-block;
	/* border: 1px solid black; */

	/* width: 50%;
	margin: 0 auto; */
}

.footers ul li {
	float: left;
	font-size: 38px;
	margin-left: 45px;
	padding: 15px;
	color: #676767;
	cursor: pointer;
	list-style-type: none;
}
